.sortable {
	cursor: pointer;
	color: #dd5;
}

.warning {
	background: #da8a8a;
}

table {
 color: #111;
 border-radius: 5px;
 overflow: hidden;
 margin: 12px 0;
 min-width: 300px;
 background: #dad8d8;
}

.header-row {
	background: #34495E;
	color: #fff
}

th, td {
	text-align: left;
	margin: 5px 10px;
	padding: 6px;
}

.highlight {
	background: rgb(250, 199, 104);
}

.operationalNo {
	color: red;
	font-style: oblique;
	font-weight: 700;
	text-transform: capitalize;
}

.operationalYes {
	color: green;
	text-transform: capitalize;
}

.lowOrbit {
	background: rgb(85, 85, 248);
	color: white;
}

.highOrbit {
	background: rgb(14, 14, 114);
	color:white;
}